In [16]:
import pandas as pd 
from datetime import datetime

In [8]:
ab_path='data/SPY-Y02_Oct22_AB.csv'
csv_data_path='data/SPY-Y02_Oct22_Train'

In [9]:
dfAll=pd.read_csv(f'{ab_path}',parse_dates=['Date/Time'],dayfirst=True)
dfAll.rename(columns={'Date/Time':'Date_Time'},inplace=True)
dfAll.drop(columns=['Ticker'],inplace=True)

In [10]:
dfAll.head()

   Date_Time   EMA20   EMA50   Close
0 2002-01-02  114.64  113.67  115.53
1 2002-01-03  114.81  113.78  116.84
2 2002-01-04  115.03  113.92  117.62
3 2002-01-07  115.16  114.02  116.79
4 2002-01-08  115.27  114.11  116.52

In [11]:
start_date='2009-01-01'
end_date='2018-12-31'
dfAll=dfAll.query('Date_Time>=@start_date and Date_Time<=@end_date')

In [18]:
dfAll.to_csv(f"{csv_data_path}_{datetime.strptime(start_date, '%Y-%m-%d').strftime('%d%m%y')}-{datetime.strptime(end_date, '%Y-%m-%d').strftime('%d%m%y')}.csv",index=False)